/* backround of page */
body {
    background-color: #d3d3d3
}
/* box model */
#wrapper {
    width: 1000px;
    height: 5000px;
    padding: 25px;
    border: 4px  solid #ffffff;
    margin: 30px auto 30px auto;
    background-color: #b0c5de;
    border-radius: 25px;
    box-shadow: 5px -5px 5px -5px #000000
}
/* header style */
h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 250%;
    font-weight: normal;
    text-shadow: 2px 2px #000000;

}
/* Navigation */
nav.nav1,li.nav1 {
    display: inline;
    text-align: center;
    text-shadow: -1px -1px #000000;
    margin: 10px;
}
/* transparent box */
aside.sidebox {
    width: 375px;
    padding: 8px;
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid #000000;
    opacity: .6;
    font-style: italic;
    float: right;

}
/* paragraph style */
p {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 100%;
    font-weight: bold;
    line-height: 200%;
    text-indent: 50px;
}
/* header2 style */
h2 {
    font-size: 200%;
    font-weight: normal
}

/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}
/* upper roman numerals */
ol.c {
    list-style-type: upper-roman;
}

section.section1 {
    float: left;
    width: 500px;
}